In [4]:
import pandas as pd

"""
For all file preprocessing, easy method to split by columns or rows using pandas
This method may also be encaspulated to parse and add incoming data in future database updates
"""

In [29]:
file = r"/Users/ParsedSubset/FINAL_SET/business_gen.csv"
df_ib = pd.DataFrame(pd.read_csv(file, low_memory=False))

In [30]:
df_ib.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,hours_monday,hours_tuesday,hours_wednesday,hours_thursday,hours_friday,hours_saturday,hours_sunday
0,f9NumwFMBDn751xgFiRbNA,The Range At Lake Norman,10913 Bailey Rd,Cornelius,NC,28031,35.462724,-80.852612,3.5,36,10:0-18:0,11:0-20:0,10:0-18:0,11:0-20:0,11:0-20:0,11:0-20:0,13:0-18:0
1,Yzvjg0SayhoZgCljUJRF9Q,"Carlos Santo, NMD","8880 E Via Linda, Ste 107",Scottsdale,AZ,85258,33.569404,-111.890264,5.0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,XNoUzKckATkOD1hP6vghZg,Felinus,3554 Rue Notre-Dame O,Montreal,QC,H4C 1P4,45.479984,-73.580070,5.0,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6OAZjbxqM5ol29BuHsil3w,Nevada House of Hose,1015 Sharp Cir,North Las Vegas,NV,89030,36.219728,-115.127725,2.5,3,7:0-16:0,7:0-16:0,7:0-16:0,7:0-16:0,7:0-16:0,NaN,NaN
4,51M2Kk903DFYI6gnB5I6SQ,USE MY GUY SERVICES LLC,4827 E Downing Cir,Mesa,AZ,85205,33.428065,-111.726649,4.5,26,0:0-0:0,9:0-16:0,9:0-16:0,9:0-16:0,9:0-16:0,NaN,NaN

In [39]:
df_bus_location = df_ib[['business_id',
                        'address',
                        'city',
                        'state',
                        'postal_code',
                        'latitude',
                        'longitude']]

df_bus_rev = df_ib[['business_id', 'name', 'stars', 'review_count']]
df_bus_rev.columns = ['business_id', 'name', 'stars_average', 'review_count']

df_bus_hours = df_ib[['business_id',
                     'hours_monday',
                     'hours_tuesday',
                     'hours_wednesday',
                     'hours_thursday',
                     'hours_friday',
                     'hours_saturday',
                     'hours_sunday']]

In [40]:
df_bus_name.to_csv('output/business_name.csv', index=False)
df_bus_location.to_csv('output/business_address.csv', index=False)
df_bus_rev.to_csv('output/business_review.csv', index=False)
df_bus_hours.to_csv('output/business_hours.csv', index=False)
'...'

'...'

In [5]:
file = r"/Users/ParsedSubset/FINAL_SET/review_gen.csv"
df_i = pd.DataFrame(pd.read_csv(file, low_memory=False))

In [6]:
df_i.head()

,business_id,user_id,review_id,stars,content,date
0,MhfebM0QIsKt87iDN-FNw,OwjRMXRC0KyPrIlcjaXeFQ,xQY8N_XvtGbearJ5X4QryQ,2.0,"As someone who has worked with many museums, I...",2015-04-15 05:21:16
1,lbrU8StCq3yDfr-QMnGrmQ,nIJD_7ZXHq-FX8byPMOkMQ,UmFMZ8PyXZTY2QcwzsfQYA,1.0,I am actually horrified this place is still in...,2013-12-07 03:16:52
2,HQl28KMwrEKHqhFrrDqVNQ,V34qejxNsCbcgD8C0HVk-Q,LG2ZaYiOgpr2DK_90pYjNw,5.0,I love Deagan's. I do. I really do. The atmosp...,2015-12-05 03:18:11
3,5JxlZaqCnk1MnbgRirs40Q,ofKDkJKXSKZXu5xJNGiiBQ,i6g_oA9Yf9Y31qt0wibXpw,1.0,"Dismal, lukewarm, defrosted-tasting ""TexMex"" g...",2011-05-27 05:30:52
4,IS4cv902ykd8wj1TR0N3-A,UgMW8bLE0QMJDCkQ1Ax5Mg,6TdNDKywdbjoTkizeMce8A,4.0,"Oh happy day, finally have a Canes near my cas...",2017-01-14 21:56:57

In [7]:
df_review_keys = df_i[['business_id', 'user_id', 'review_id']]
df_review_general = df_i[['review_id', 'stars', 'date']]
df_review_content = df_i[['review_id', 'content']]

In [8]:
df_review_keys.to_csv('output/review_keys.csv', index=False)
df_review_general.to_csv('output/review_general.csv', index=False)
df_review_content.to_csv('output/review_content.csv', index=False)