In [2]:
import pandas as pd

"""
Parsing to add column data for Phase 4, will replace user and review entity in DB
"""
'Begin...'

'Begin...'

In [3]:
review_file = r'review_5000.csv' # replace w/ /yelp_..._review.csv
tip_file = r'tip_5000.csv'       # replace w/ /yelp_..._tip.csv
user_file = r'user_5000.csv'     # replace w/ /yelp_..._user.csv

In [5]:
# This may take a while, feel free to comment out two of them and process one at a time
df_review = pd.DataFrame(pd.read_csv(review_file, low_memory=False))
df_tip = pd.DataFrame(pd.read_csv(tip_file, low_memory=False))
df_user = pd.DataFrame(pd.read_csv(user_file, low_memory=False))

In [1]:
# New review entity will have 3 tables (pk)=review_id
# keys: (pk), user_id, business_id
# reactions: (pk), stars(rename=rating), useful, funny, cool, date(rename=review_date)
# content: (pk), text(rename=content)
# User entity will include tip (pd)=user_id

df_review.head()

NameError: name 'df_review' is not defined

In [24]:
df_r_keys = df_review[['review_id', 'user_id', 'business_id']]
df_r_reactions = df_review[['review_id', 'stars', 'useful', 'funny', 'cool', 'date']]
df_r_content = df_review[['review_id', 'text']]

In [37]:
# Rename where appropriate
df_r_reactions.columns = [['review_id', 'rating', 'useful', 'funny', 'cool', 'review_date']]
df_r_content.columns = [['review_id', 'review_content']]
#df_r_reactions.head()
#df_r_content.head()

In [38]:
# Write review files, file/table naming is singular
# initialize an empty file /review/ in current working directory
df_r_keys.to_csv(r'review/review_key.csv', index=False, encoding='utf-8')
df_r_reactions.to_csv(r'review/review_reaction.csv', index=False, encoding='utf-8')
df_r_content.to_csv(r'review/review_content.csv', index=False, encoding='utf-8')

In [35]:
df_tip.head()

,user_id,business_id,text,date,compliment_count
0,hf27xTME3EiCp6NL6VtWZQ,UYX5zL_Xj9WEc_Wp-FrqHw,Here for a quick mtg,2013-11-26 18:20:08,0
1,uEvusDwoSymbJJ0auR3muQ,Ch3HkwQYv1YKw_FO06vBWA,Cucumber strawberry refresher,2014-06-15 22:26:45,0
2,AY-laIws3S7YXNl_f_D6rQ,rDoT-MgxGRiYqCmi0bG10g,Very nice good service good food,2016-07-18 22:03:42,0
3,Ue_7yUlkEbX4AhnYdUfL7g,OHXnDV01gLokiX1ELaQufA,It's a small place. The staff is friendly.,2014-06-06 01:10:34,0
4,LltbT_fUMqZ-ZJP-vJ84IQ,GMrwDXRlAZU2zj5nH6l4vQ,"8 sandwiches, $24 total...what a bargain!!! An...",2011-04-08 18:12:01,0

In [43]:
# Folds into our user entity
df_t_gen = df_tip[['user_id', 'business_id', 'date', 'compliment_count']]
df_t_content = df_tip[['user_id', 'text']]

df_t_gen.columns = [['user_id', 'business_id', 'tip_date', 'compliment_count']]
df_t_content.columns = [['user_id', 'tip_content']]

df_t_gen.to_csv(r'user/user_tip_general.csv', index=False, encoding='utf-8')
df_t_content.to_csv(r'user/user_tip_content.csv', index=False, encoding='utf-8')

In [44]:
df_user.head()

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,ntlvfPzc8eglqvk92iDIAw,Rafael,553,2007-07-06 03:27:11,628,225,227,NaN,"oeMvJh94PiGQnx_6GlndPQ, wm1z1PaJKvHgSDRKfwhfDg...",14,...,2,1,0,1,11,15,22,22,10,0
1,FOBRPlBHa3WPHFB5qYDlVg,Michelle,564,2008-04-28 01:29:25,790,316,400,"2008,2009,2010,2011,2012,2013","ly7EnE8leJmyqyePVYFlug, pRlR63iDytsnnniPb3AOug...",27,...,4,5,2,1,33,37,63,63,21,5
2,zZUnPeh2hEp0WydbAZEOOg,Martin,60,2008-08-28 23:40:05,151,125,103,2010,"Uwlk0txjQBPw_JhHsQnyeg, Ybxr1tSCkv3lYA0I1qmnPQ...",5,...,6,0,1,0,3,7,17,17,4,1
3,QaELAmRcDc5TfJEylaaP8g,John,206,2008-09-20 00:08:14,233,160,84,2009,"iog3Nyg1i4jeumiTVG_BSA, M92xWY2Vr9w0xoH8bPplfQ...",6,...,1,0,0,0,7,14,7,7,2,0
4,xvu8G900tezTzbbfqmTKvA,Anne,485,2008-08-09 00:30:27,1265,400,512,"2009,2010,2011,2012,2014,2015,2016,2017,2018","3W3ZMSthojCUirKEqAwGNw, eTIbuu23j9tOgmIa9POyLQ...",78,...,9,2,1,1,22,28,31,31,19,31

In [46]:
df_user_gen = df_user[['user_id', 'name', 'review_count', 'average_stars']]
df_user_friends = df_user[['user_id', 'friends']]

df_user_gen.columns = [['user_id', 'name', 'review_count', 'average_user_rating']]

df_user_gen.to_csv(r'user/user_general.csv', index=False, encoding='utf-8')
df_user_friends.to_csv(r'user/user_friends.csv', index=False, encoding='utf-8')